body {
  font-size: 14pt;
  font-family: Verdana, Geneva, sans-serif;
}

.handsontable th, .handsontable td {
	line-height: 1;
}

#chart-container {
	width: 940px;
}

#myChart {
	padding: 5px;
}

#legend {
	float: right;
}

ul.bar-legend {
	list-style-type: none;
	font-size: smaller;
	padding-left: 0px;
}

ul.bar-legend li span {
	width: 1em;
	height: 1em;
	display: inline-block;
};