body {
  font-size: 14pt;
  font-family: Verdana, Geneva, sans-serif;
}

.handsontable th, .handsontable td {
	line-height: 1;
}

#chart-container {
	width: 740px;
	padding-right: 160px;
	position: relative
}

.three-chart-container {
	width: 300px;
	position: relative;
	float: left;
}

#myChart {
	padding: 5px;
}

#legend {
	position: absolute;
	top: 0px;
	right: 0px;
}

ul.bar-legend {
	list-style-type: none;
	font-size: smaller;
	padding-left: 0px;
}

ul.bar-legend li span {
	width: 1em;
	height: 1em;
	display: inline-block;
	margin-right: 5px;
}

.yAxisLabel {
  -ms-transform: rotate(270deg); /* IE 9 */
  transform: rotate(270deg);
  width: 410px;
  position: absolute;
  left: -200px;
  bottom: 210px;
  text-align: center;
  float: left;
}

canvas.chart {
	margin-left: 1.1em;
}

.xAxisLabel {
	width: 100%;
	text-align: center;
}